DB_USER=postgres
DB_PASS=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=FAST_BASE_DB
MAIL_SERVER=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_PORT=
APP_NAME=
FRONTEND_URL=http://localhost:3000
BASE_URL=http://localhost:8000
CELERY_BROKER_URL=redis://localhost:6379/0
ENVIRONMENT=development
ELASTIC_SERVICE_NAME=FAST_API_BASE
ELASTIC_SECRET_TOKEN=
ELASTIC_SERVER_URL=